.names{
    width: 60%;
    height: 500px;
}
.names ul{
    background-color: black;
    border: 3px solid white;
    padding: 15px;
    height: 100%;
    overflow-y: scroll;
}
.names ul li{
    margin-left: 15px;
    padding: 5px;
    border: 3px solid rgba(0, 128, 0,0);
    width: fit-content;
    list-style-image: url('../images/pokeball.png');
}
.names ul li:hover{
    border: 3px solid rgb(134, 236, 0);
    cursor: pointer; 
}
