.sprite{
    width: 40%;
    display: grid;
    place-items: center;
}
.screen{
    width: 90%;
    display: grid;
    place-items: center;
    border: 3px solid rgb(255, 255, 255);
}
.screen img{
    background-color: rgb(121, 185, 18);
    width: 100%;
    border: 5px solid rgb(0, 0, 0);
}
.details{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50px;
}